ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 li {
    float: left;
    list-style-type: none;
 }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

input[type=text] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 482px;
    height: 44px;
    padding: 12px 20px;
    margin: px 0;
    box-sizing: border-box;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: white;
    color: black;
 }