ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 li {
    float: left;
    list-style-type: none;
 }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 li a:hover {
   text-decoration: underline
 }

input[type=text] {
   position: relative;
   left: 15px;
   width: 482px;
   height: 44px;
   padding: 12px 20px;
   box-sizing: border-box;
   border: 1px solid #dfe1e5;
   border-radius: 24px;
   background-color: white;
   color: black;
 }

 .center {
   position: absolute;
   margin: auto;
   text-align: center;
   width: 60%;
   padding: 10px;
   position: relative;
   top: 200px;
 }

 .button1 {
   background-color: white; 
   color: black; 
   border: none;
   border-radius: 24px;
 }
 
 .button1:hover {
   background-color: gray;
   color: white;
 }
 
 .button2 {
   background-color: white; 
   color: black; 
   border: none;
   border-radius: 24px;
 }
 
 .button2:hover {
   background-color: gray;
   color: white;
 }
 
 .list {
   position:relative;
   right: 200px;
}
 
 li b {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   }

.active {
   position: relative;
   left: 15px;
}
      
    
  li b:hover {
    text-decoration: underline;
  }